.App {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-areas:
  "calculation history";
  margin-top: 25px;
}

.calculator-wrapper{
  grid-area: calculation;
  margin-left: 10px;

}

.calculationhistory{
  grid-area: history;
}

.table{
  margin: 0 auto;
}

.tabletd{
  font-size: 18px;
}

h4{
  margin: 0;
  font-size: 24px;
}

p{
  font-size: 12px;
}

.calc-row button{
  width: 50px;
  height: 50px;
  border: 1px black solid;
  border-right: none;
  border-bottom: none;
}

.calc-row button:last-child{
  width: 50px;
  height: 50px;
  border: 1px black solid;
  border-bottom: none;
}

.calc-row button:focus{
  color: #ff4977;
  outline: #ff4977;
}

.clear-row button{
  width: 200px;
  height: 50px;
  border: 1px black solid;
}

.clear-row button:focus{
  color: #ff4977;
  outline: #ff4977;
}


.input-row{
  border: 1px black solid;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  box-sizing: border-box;
  border-bottom: none;
  line-height: 50px;
}